#container {
    display: flex;
    background-color: whitesmoke;
    width: 214vh;
    height: 75vh;
    justify-content: center;
    border-style: hidden;
}

.left-side {
    display: flex;
    width: 120vh;
    height: 75vh;
    border-style: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header>#logo {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin-bottom: 0vh;
    margin-left: -30vh;
}

.left-side>p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: normal;
    width: 75vh;
    height: 25vh;
    text-align: left;
    padding-top: 0vh;
}

.right-side {
    display: flex;
    flex-direction: column;
    border-style: hidden;
    width: 80vh;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

#forum {
    border-style: hidden;
    width: 45vh;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email,
#passwort,
#anmelden,
p {
    width: 38vh;
    height: 10vh;
    border-radius: 1vh;
    margin: 1px 2px 1px 4px;
}

#forum>p {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#Konto {
    background-color: rgb(50, 205, 50);
    color: white;
    border-radius: 1vh;
    margin-bottom: 20px;
    width: 25vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anmelden {
    background-color: blue;
    color: aliceblue;
    height: 15vh;

}

.box-footer>p {
    font-size: 15px;
    border-style: hidden;
    text-align: center;
}

#email,
#passwort {
    border-color: rgb(0, 132, 255);
    text-decoration-color: gray;
}

nav {
    background-color: white;
    width: 200vh;
    height: max-content;
}

.lang {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    justify-content: space-between;
    border-style: hidden;
}

.lang>li {
    border-style: hidden;
    padding-right: 2vh;
}

.link {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    border-style: hidden;
    flex-wrap: wrap;
    height: 10vh;
}

.link>li {
    padding-right: 2vh;
    border-style: hidden;
}

footer>p {
    margin-left: 7vh;
}

a {
    color: rgb(67, 64, 250);
}